
  h1 {
    color: mediumaquamarine;
    font-family: 'Courier New', Courier, monospace;
  }
  .c-title {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
  }
  a {
    color: lightblue;
    font-family: 'Courier New', Courier, monospace;
  }
  .title {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
  }
  #presentation {
    font-family: 'Helvetica';
    color: rgb(200,200,200);
  }
  #langues {
    font-family: 'Helvetica';
    color: rgb(200,200,200);
  }
  
  #codage {
    font-family: 'Helvetica';
    color: rgb(200,200,200);
  }

  body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,125,255,1) 100%);
  }
  #dedicace {
    color: greenyellow;
  }
  #dedicace2 {
    color: blue;
  }