  .buttongroup button {
    border-radius: 5px;
    background-color: rgb(10,195,10);
  }
  .buttongroup button:hover {
    background-color: rgb(50,255,50);
  }
  h1 {
    color: mediumaquamarine;
    font-family: 'Courier New', Courier, monospace;
  }
  .img-drapeau {
      width: 200px;
      height: auto;
      aspect-ratio: 16 / 9;
      margin: 10px;
      right: 50px;
  }
  a {
    text-decoration: none;
    color: lightblue;
    font-family: 'Courier New', Courier, monospace;
  }
  .title {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
  }
  #presentation {
    font-family: 'Helvetica';
    color: rgb(200,200,200);
  }
  #langues {
    font-family: 'Helvetica';
    color: rgb(200,200,200);
  }
  
  #codage {
    font-family: 'Helvetica';
    color: rgb(200,200,200);
  }

  body {
    background: rgb(180,180,180);

  }
